@charset "utf-8";
.colorBlue {
  color: #092ace;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover {
  outline: none !important;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}
:hover,
:active,
:visited,
:focus {
  outline: none !important;
}
:invalid {
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
:-moz-ui-invalid {
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
body,
html {
  font-family: 'FuturaBT-Medium';
  background: #edf0f3;
  color: #767676;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 17px;
  line-height: 1.3;
  height: 100%;
}
body {
  overflow-x: hidden;
}
.noscroll {
  overflow: hidden !important;
}
header,
section,
footer,
nav,
aside,
article {
  display: block;
}
.listClear {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clearBoth {
  clear: both;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #092ace;
}
a img {
  border: none;
}
input,
textarea,
button {
  outline: none;
}
form {
  padding: 0;
  margin: 0;
}
strong {
  font-weight: normal;
}
video {
  display: block !important;
}
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
  border: none !important;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.wrapperContainer {
  padding: 0 40px;
}
.wrapperPadding {
  padding: 0 100px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.alignLeft {
  text-align: left;
}
.alignCenter {
  text-align: center;
}
.alignRight {
  text-align: right;
}
.lineThrough {
  text-decoration: line-through;
}
a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.top {
  background: #111b51;
  color: #ffffff;
  height: 100%;
  position: relative;
  padding-bottom: 340px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  min-height: 768px;
}
.top .line {
  position: absolute;
  top: 45%;
  height: 20%;
  width: 1px;
  background: #111b51;
  left: 120px;
  z-index: 11;
  margin-top: -100px;
  opacity: 0.5;
}
.top .scrollDown {
  position: absolute;
  bottom: 340px;
  left: 100px;
  margin-bottom: 100px;
  z-index: 15;
}
.top .scrollDown img {
  width: 20px;
  margin-bottom: 20px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.top .scrollDown span {
  display: block;
  text-align: center;
}
.top .scrollDown a {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 40px 0 0 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.top .scrollDown a:hover {
  padding: 50px 0 0 0;
}
.top .scrollDown a:hover img {
  margin-bottom: 30px;
}
.top .arrows {
  position: absolute;
  bottom: 340px;
  right: 100px;
  margin-bottom: 100px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  z-index: 15;
}
.top .arrows .prev {
  display: inline-block;
  vertical-align: middle;
  border-right: solid 1px rgba(0, 0, 0, 0.05);
  padding: 20px 10px;
}
.top .arrows .prev svg {
  width: 20px;
}
.top .arrows .prev svg path {
  fill: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.top .arrows .prev:hover svg path {
  fill: #ff5a2c;
}
.top .arrows .next {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 10px;
}
.top .arrows .next svg {
  width: 20px;
}
.top .arrows .next svg path {
  fill: #ffffff;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.top .arrows .next:hover svg path {
  fill: #ff5a2c;
}
.top .topSlider {
  position: relative;
  height: 100%;
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -ms-transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
}
.top .topSlider.active {
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.top .topSlider .slick-dots {
  top: 50%;
  right: 100px;
  text-align: right;
  bottom: auto;
  width: 20px;
  margin-top: -100px;
}
.top .topSlider .slick-dots li {
  display: block;
  margin: 40px 0;
  width: 7px;
  height: 7px;
}
.top .topSlider .slick-dots li button {
  font-size: 0;
  background: rgba(255, 255, 255, 0.3);
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 0;
}
.top .topSlider .slick-dots li button::before {
  display: none;
}
.top .topSlider .slick-dots li button:hover {
  background: #ff5a2c;
}
.top .topSlider .slick-dots li.slick-active button {
  background: #ffffff;
  width: 11px;
  height: 11px;
  margin-left: -2px;
  margin-top: -2px;
  position: relative;
}
.top .topSlider .slick-slide .button {
  text-align: center;
  padding: 100px 0 0 0;
}
.top .topSlider .slick-slide .button a {
  display: inline-block;
}
.top .topSlider .slick-slide h1 {
  font-size: 48px;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -ms-transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  margin-top: 100px;
}
.top .topSlider .slick-slide h2 {
  font-size: 72px;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -ms-transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  padding: 10px 0;
}
.top .topSlider .slick-slide .desc {
  font-size: 24px;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -ms-transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
}
.top .topSlider .slick-slide.slick-active h1 {
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition-delay: 0.2s;
}
.top .topSlider .slick-slide.slick-active h2 {
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition-delay: 0.4s;
}
.top .topSlider .slick-slide.slick-active .desc {
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition-delay: 0.6s;
}
.top .topSlider .topSlide {
  text-align: center;
  position: relative;
  height: 100%;
}
.top .topSlider .topSlide .topSlideContainer {
  display: table;
  height: 100%;
  width: 100%;
}
.top .topSlider .topSlide .topSlideContainer .topSlideMiddle {
  display: table-cell;
  vertical-align: middle;
}
.top .topSlider .slick-list {
  width: 100%;
  height: 100%;
}
.top .topSlider .slick-track {
  width: 100%;
  height: 100%;
}
.top .background .shape1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/top/1.png);
  z-index: 1;
  background-position: 30% center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
}
.top .background .shape2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/top/2.png);
  z-index: 1;
  background-position: left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
}
.top .background .shape3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/top/3.png);
  background-color: #111b51;
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.shape {
  position: relative;
}
.shape .shape4 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.aboutUs {
  position: relative;
  top: -340px;
  z-index: 10;
  margin-bottom: -340px;
}
.aboutUs .items {
  position: relative;
  margin: 0 -5px;
  font-size: 0;
}
.aboutUs .items .item {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  width: 25%;
}
.aboutUs .items .item .itemContainer {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin: 5px;
  background: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.aboutUs .items .item .itemContainer .content {
  padding: 60px;
}
.aboutUs .items .item .itemContainer .icon {
  padding: 0 0 30px 0;
}
.aboutUs .items .item .itemContainer .icon img {
  width: 75px;
}
.aboutUs .items .item .itemContainer .title {
  color: #000000;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 28px;
  padding: 0 0 20px 0;
}
.aboutUs .items .item .itemContainer .desc {
  min-height: 140px;
}
.aboutUs .items .item .itemContainer:hover {
  background: #111b51;
  color: #8489a5;
}
.aboutUs .items .item .itemContainer:hover .title {
  color: #ffffff;
}
.aboutUs .items .item .itemContainer:hover .button a {
  color: #8489a5;
}
.aboutUs .items .item .itemContainer:hover .button a:hover {
  color: #ffffff;
}
.aboutUs .items .itemFull {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
}
.aboutUs .items .itemFull .itemContainer {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin: 5px;
  background: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.aboutUs .items .itemServices {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  width: 25%;
}
.aboutUs .items .itemServices .itemContainer {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin: 5px;
  background: #ff5a2c;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  position: relative;
}
.aboutUs .items .itemServices .itemContainer .content {
  padding: 90px 60px;
}
.aboutUs .items .itemServices .itemContainer .content .title {
  font-size: 24px;
  padding: 0 0 30px 0;
}
.aboutUs .items .itemServices .itemContainer .content .separator {
  height: 1px;
  width: 130px;
  background: #ffffff;
  margin-bottom: 20px;
}
.aboutUs .items .itemServices .itemContainer .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.aboutUs .items .itemServices .itemContainer:hover .button a svg {
  right: -10px;
}
.aboutUs .itemFullTable {
  display: table;
  width: 100%;
}
.aboutUs .itemFullTable .columnLeft {
  display: table-cell;
  vertical-align: top;
}
.aboutUs .itemFullTable .columnLeft .content {
  padding: 100px;
}
.aboutUs .itemFullTable .columnLeft .title {
  padding: 0 0 40px 0;
}
.aboutUs .itemFullTable .columnLeft .title h4 {
  color: #000000;
  font-size: 40px;
}
.aboutUs .itemFullTable .columnRight {
  display: table-cell;
  vertical-align: top;
  width: 40%;
  position: relative;
  overflow: hidden;
}
.aboutUs .itemFullTable .columnRight .image {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button {
  padding: 15px 0 20px 0;
}
.button.arrowBlue a svg {
  stroke: #092ace;
}
.button.arrowWhite a svg {
  stroke: #ffffff;
}
.button.backgroundButton {
  text-align: right;
}
.button.backgroundButton a {
  padding: 15px 60px 14px 30px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button.backgroundButton a svg {
  stroke: #ffffff;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: auto;
  right: auto;
  margin-top: -2px;
  margin-left: 12px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.6;
}
.button.backgroundButton a:hover {
  padding: 15px 50px 14px 30px;
}
.button.backgroundButton a:hover svg {
  right: auto;
  margin-left: 22px;
  opacity: 1;
}
.button.orangeBg a {
  background: #ff5a2c;
  color: #ffffff;
}
.button.grayBg a {
  background: #bababa;
  color: #ffffff;
}
.button.grayBg a:hover {
  background: #ff5a2c;
}
.button.arrowWhiteOpacity {
  padding: 30px 0 0 0;
}
.button.arrowWhiteOpacity a {
  color: #ffffff;
  opacity: 0.6;
  width: 150px;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button.arrowWhiteOpacity a svg {
  stroke: #ffffff;
  top: 5px;
}
.button.arrowWhiteOpacity a:hover {
  opacity: 1;
}
.button.buttonToolbox {
  display: inline-block;
  border-bottom: solid 2px #ff5a2c;
  padding: 0 0 15px 0;
  margin-bottom: 20px;
}
.button.buttonToolbox a {
  color: #ffffff;
  width: 150px;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: block;
  text-align: left;
}
.button.buttonToolbox a svg {
  stroke: #ffffff;
  top: 5px;
  opacity: 0.6;
}
.button.buttonToolbox a:hover svg {
  opacity: 1;
}
.button a {
  display: block;
  position: relative;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #767676;
}
.button a svg {
  fill: none;
  stroke: #092ace;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  width: 16px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  right: 0px;
  top: 7px;
}
.button a:hover svg {
  right: -10px;
}
.technologies {
  text-align: left;
}
.technologies .items {
  position: relative;
  margin: 0 -85px;
  font-size: 0;
  height: 200px;
}
.technologies .items .item {
  width: 16.66%;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  position: relative;
  z-index: 5;
}
.technologies .items .item:hover {
  z-index: 50;
}
.technologies .items .item .itemContainer {
  margin: 5px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 35px;
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
}
.technologies .items .item .itemContainer:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.05);
  padding: 45px 35px;
  top: -5px;
}
.technologies .items .item .itemContainer:hover .itemTable .columnLeft img {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.technologies .items .item .itemContainer:hover ul {
  display: block;
  opacity: 1;
}
.technologies .itemTable {
  display: table;
  width: 100%;
}
.technologies .itemTable .columnLeft {
  display: table-cell;
  vertical-align: middle;
  border-right: solid 1px rgba(0, 0, 0, 0.05);
  width: 50px;
  text-align: center;
  padding-right: 20px;
}
.technologies .itemTable .columnLeft img {
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.technologies .itemTable .columnRight {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 0 5px 20px;
  font-size: 22px;
  color: #000000;
  height: 65px;
}
.technologies .itemTable .columnRight.min {
  font-size: 19px;
}
.technologies ul {
  padding: 0;
  margin: 30px 0 0 15px;
  display: none;
}
.technologies ul li {
  margin: 12px 0;
  position: relative;
}
.technologies ul li div {
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 1px;
  width: 60px;
  background: rgba(0, 0, 0, 0.05);
}
.technologies ul li:last-of-type div {
  display: none;
}
.padding {
  padding: 100px 0;
}
.paddingTop {
  padding: 100px 0 0;
}
.headline {
  padding: 0 0 50px 0;
}
.headline h3 {
  font-size: 40px;
  color: #000000;
}
.headline h2 {
  font-size: 50px;
}
.advantages {
  position: relative;
  z-index: 2;
}
.advantages .wrapper {
  background: #ffffff;
  position: relative;
}
.advantages:after {
  position: absolute;
  content: " ";
  background: #ffffff;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
}
.advantages .arrows {
  position: absolute;
  right: 130px;
  bottom: 130px;
}
.advantages .arrows .prev {
  display: inline-block;
  vertical-align: middle;
  border-right: solid 1px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
}
.advantages .arrows .prev svg {
  width: 20px;
}
.advantages .arrows .prev svg path {
  fill: #ececec;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.advantages .arrows .prev:hover svg path {
  fill: #ff5a2c;
}
.advantages .arrows .next {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
}
.advantages .arrows .next svg {
  width: 20px;
}
.advantages .arrows .next svg path {
  fill: #092ace;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.advantages .arrows .next:hover svg path {
  fill: #ff5a2c;
}
.advantages .image img {
  max-width: 360px;
}
.advantages .advantagesSlider {
  position: relative;
  padding-left: 40px;
}
.advantages .advantagesSlider .advantagesSlide {
  position: relative;
  padding: 100px 0 220px 0;
}
.advantages .advantagesSlider .slick-prev {
  display: none !important;
}
.advantages .advantagesSlider .slick-next {
  display: none !important;
}
.advantages .advantagesSlider .slick-slide .desc {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  -ms-transform: translate(0px, 20px);
  -webkit-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}
.advantages .advantagesSlider .slick-slide.slick-active .desc {
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition-delay: 0.2s;
}
.advantages .advantagesSlider .slick-dots {
  bottom: 120px;
  text-align: left;
}
.advantages .advantagesSlider .slick-dots li {
  width: 7px !important;
  margin-right: 40px;
}
.advantages .advantagesSlider .slick-dots li button {
  font-size: 0;
  background: #dadada;
  width: 7px;
  height: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 0;
}
.advantages .advantagesSlider .slick-dots li button::before {
  display: none;
}
.advantages .advantagesSlider .slick-dots li button:hover {
  background: #ff5a2c;
}
.advantages .advantagesSlider .slick-dots li.slick-active button {
  background: #092ace;
  width: 11px;
  height: 11px;
  margin-left: -2px;
}
.advantages .image {
  position: absolute;
  top: 0px;
  right: 0px;
}
.advantages .desc {
  font-size: 22px;
  padding-left: 80px;
  min-height: 140px;
}
.advantages .title {
  font-size: 36px;
  padding-left: 80px;
  padding-bottom: 30px;
}
.advantages .true {
  width: 50%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.advantages .true .title {
  color: #092ace;
}
.advantages .false {
  width: 50%;
  margin-top: 80px;
  position: relative;
}
.advantages .false .title {
  color: #ff5a2c;
}
.advantages .icon {
  position: absolute;
  top: 3px;
  left: 0;
}
.advantages .icon img {
  width: 35px;
}
.toolbox {
  background: #111b51;
  padding-top: 250px;
  position: relative;
  z-index: 1;
  margin-top: -130px;
  color: #ffffff;
}
.toolbox:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  background: #d7dadd;
  content: " ";
}
.toolbox:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 380px;
  width: 60px;
  background: #fff;
  content: " ";
}
.toolbox .label {
  color: #8489a5;
}
.toolbox .headlineTable {
  display: table;
  width: 100%;
}
.toolbox .headlineTable .columnLeft {
  display: table-cell;
  vertical-align: bottom;
  width: 55%;
}
.toolbox .headlineTable .columnRight {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
}
.toolbox .headline {
  padding: 20px 0 0 0;
}
.toolbox .items {
  position: relative;
  margin: 0 -40px;
  font-size: 0;
  padding: 50px 0 0 0;
}
.toolbox .items .item {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  position: relative;
}
.toolbox .items .item .itemContainer {
  padding: 40px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  border-right: solid 1px rgba(255, 255, 255, 0.05);
  position: relative;
  min-height: 240px;
}
.toolbox .items .item .itemContainer .title {
  font-size: 22px;
  padding-top: 25px;
}
.toolbox .items .item .itemContainer .icon img {
  height: 55px;
}
.toolbox .items .item .itemContainer .hoverBox {
  position: absolute;
  top: -20px;
  bottom: -50px;
  left: 0;
  right: 0;
  padding: 60px 40px;
  background: #092ace;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  z-index: 5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.toolbox .items .item .itemContainer:hover .hoverBox {
  opacity: 1;
  z-index: 10;
}
.toolbox .items .item:nth-child(5n) .itemContainer {
  border-right: none;
}
.toolbox .items .item:nth-child(6n) .itemContainer {
  border-bottom: none;
}
.toolbox .items .item:nth-child(6n) .itemContainer {
  border-bottom: none;
}
.toolbox .items .item:nth-child(7n) .itemContainer {
  border-bottom: none;
}
.toolbox .items .item:nth-child(8n) .itemContainer {
  border-bottom: none;
}
.toolbox .items .item:nth-child(9n) .itemContainer {
  border-bottom: none;
}
.testimonials {
  position: relative;
  background: #f6f8fa;
}
.testimonials:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background: #d7dadd;
  content: " ";
  z-index: 0;
}
.testimonials .testimonialsTable {
  display: table;
  width: 100%;
  position: relative;
  z-index: 1;
  background: #f6f8fa;
  table-layout: fixed;
}
.testimonials .testimonialsTable .columnLeft {
  display: table-cell;
  vertical-align: top;
  width: 33.33%;
  background: #d7dadd;
}
.testimonials .testimonialsTable .columnRight {
  display: table-cell;
  vertical-align: top;
}
.testimonials .testimonialsSlider {
  padding: 0 0 0 100px;
}
.testimonials .testimonialsSlider .slick-prev {
  display: none !important;
}
.testimonials .testimonialsSlider .slick-next {
  display: none !important;
}
.testimonials .testimonialsSlider .slick-slide .quote {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  -ms-transform: translate(0px, 20px);
  -webkit-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}
.testimonials .testimonialsSlider .slick-slide.slick-active .quote {
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition-delay: 0.2s;
}
.testimonials .quote {
  padding: 0 0 0 65px;
  position: relative;
  min-height: 200px;
}
.testimonials .quote .img {
  position: absolute;
  top: 0;
  left: 0;
}
.testimonials .quote .img img {
  width: 40px;
}
.testimonials .arrows {
  position: relative;
  padding-left: 145px;
}
.testimonials .arrows .prev {
  display: inline-block;
  vertical-align: middle;
  border-right: solid 1px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
}
.testimonials .arrows .prev svg {
  width: 20px;
}
.testimonials .arrows .prev svg path {
  fill: #ececec;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.testimonials .arrows .prev:hover svg path {
  fill: #ff5a2c;
}
.testimonials .arrows .next {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
}
.testimonials .arrows .next svg {
  width: 20px;
}
.testimonials .arrows .next svg path {
  fill: #092ace;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.testimonials .arrows .next:hover svg path {
  fill: #ff5a2c;
}
.testimonials .image {
  height: 410px;
  margin-left: 140px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.testimonials .image .frame {
  background: #092ace;
  position: absolute;
  left: 30px;
  right: 60px;
  padding: 40px 60px 90px 30px;
  color: #ffffff;
  top: 300px;
  font-size: 34px;
}
.testimonials .image .frame div {
  padding: 10px;
}
.testimonials .image .frame div:first-of-type {
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.game {
  background: #ffffff;
}
.game .gamePlaceholder {
  border: solid 1px rgba(0, 0, 0, 0.05);
  margin: 0 100px;
  padding: 100px 0;
  text-align: center;
  text-transform: uppercase;
}
.contact {
  background: #ffffff;
  position: relative;
}
.contact:before {
  position: absolute;
  content: " ";
  width: 50%;
  bottom: 0;
  right: 0;
  height: 260px;
  background: #edf0f3;
}
.contact .line {
  position: absolute;
  bottom: 150px;
  height: 20%;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  right: 125px;
  z-index: 11;
  margin-top: -100px;
  opacity: 0.5;
}
.contact .scrollTop {
  position: absolute;
  bottom: 100px;
  right: 100px;
  z-index: 15;
}
.contact .scrollTop img {
  width: 20px;
  margin-bottom: 20px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.contact .scrollTop span {
  display: block;
  text-align: center;
}
.contact .scrollTop a {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 40px 0 0 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.contact .scrollTop a:hover {
  padding: 50px 0 0 0;
}
.contact .scrollTop a:hover img {
  margin-bottom: 30px;
}
.contact .contactTable {
  display: table;
  width: 100%;
}
.contact .contactTable .columnLeft {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
.contact .contactTable .columnRight {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  position: relative;
}
.contact .contactTable .columnRight:before {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  right: 0;
  height: 260px;
  background: #edf0f3;
}
.contact .columnContainer {
  padding: 0 80px 0 0;
}
.contact .icon {
  position: relative;
  margin-top: -30px;
}
.contact .icon img {
  width: 60px;
}
.contact .inputContainer {
  position: relative;
  width: 50%;
  margin: 30px 0 0;
}
.contact .inputContainer input {
  border: none;
  background: none;
  padding: 15px 0;
  font-family: 'FuturaBT-Medium';
  font-size: 17px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.contact .inputContainer .border {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #e2e2e2;
}
.contact .inputContainer .border2 {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #ff5a2c;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 10;
}
.contact .inputContainer input:focus + .border2 {
  width: 100%;
}
.contact .textareaContainer {
  position: relative;
  margin: 20px 0 0;
}
.contact .textareaContainer textarea {
  border: none;
  background: none;
  font-family: 'FuturaBT-Medium';
  font-size: 17px;
  resize: none;
  height: 40px;
  padding: 0;
  width: 100%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  overflow-y: auto;
}
.contact .textareaContainer .border {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #e2e2e2;
}
.contact .textareaContainer .border2 {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #ff5a2c;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 10;
}
.contact .textareaContainer textarea:focus + .border2 {
  width: 100%;
}
.contact .captcha {
  padding: 40px 0 0 0;
}
.contact .bottomTable {
  display: table;
  width: 100%;
  margin: 30px 0 0 0;
}
.contact .bottomTable .columnLeft2 {
  display: table-cell;
  vertical-align: top;
  position: relative;
}
.contact .bottomTable .columnRight2 {
  display: table-cell;
  vertical-align: top;
  position: relative;
  text-align: right;
}
.contact .bottomTable .columnRight2 .button {
  display: inline-block;
  position: relative;
  margin-top: -20px;
}
.contact .bottomTable .columnRight2 .button a {
  white-space: nowrap;
}
.contact .termHidden {
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #767676;
  padding-top: 10px;
  display: none;
}
.contact .termHidden a.showLess {
  color: #767676 !important;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1) !important;
  padding-bottom: 5px !important;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block !important;
  margin-top: 10px;
}
.contact .termHidden a.showLess:hover {
  color: #ff5a2c !important;
}
.contact .termCkeckbox {
  padding: 5px 0 0 0;
  text-align: left;
  position: relative;
}
.contact .termCkeckbox input[type="checkbox"] {
  display: none;
}
.contact .termCkeckbox input[type="checkbox"] + label {
  font-size: 14px;
  padding-left: 40px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #767676;
}
.contact .termCkeckbox input[type="checkbox"] + label span.img {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 0;
  vertical-align: middle;
  background: url(../images/checkbox.svg) left top no-repeat;
  background-size: auto 23px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 4px;
}
.contact .termCkeckbox input[type="checkbox"]:checked + label span.img {
  background: url(../images/checkbox.svg) -25px top no-repeat;
  background-size: auto 23px;
}
.contact .termCkeckbox a {
  color: #767676;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.contact .termCkeckbox a:hover {
  color: #ff5a2c;
}
.contact .people {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}
.contact .people .person {
  float: left;
  width: 50%;
  color: #ffffff;
}
.contact .people .person.person1 .content {
  background: #ff5a2c;
}
.contact .people .person.person2 {
  margin-top: 170px;
}
.contact .people .person.person2 .content {
  background: #092ace;
}
.contact .people .thumb {
  height: 170px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.contact .people .content {
  padding: 50px;
}
.contact .people .content .icon2 {
  padding: 10px 0 0 0;
}
.contact .people .content .icon2 a {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.contact .people .content .icon2 a:hover {
  opacity: 0.6;
}
.contact .people .content .name {
  font-size: 24px;
  position: relative;
}
.contact .people .content .profession {
  font-size: 15px;
}
.contact .people .content .separator {
  width: 100px;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 20px 0 20px -10px;
}
.contact .people .content .mail {
  display: block;
  width: 50px;
  height: 50px;
  margin: 50px 0 0 0;
  background: #ffffff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-image: url(../images/envelope.svg);
  background-size: 25px auto;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.contact .people .content .mail:hover {
  background-image: url(../images/envelope.svg);
  background-size: 30px auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer {
  position: relative;
  padding: 70px 0 100px;
}
.footer .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .menu ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}
.footer .menu.menu1 ul li a {
  color: #383838;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.footer .menu.menu1 ul li a:hover {
  color: #ff5a2c;
}
.footer .menu.menu2 {
  margin: 20px 0 0 0;
}
.footer .menu.menu2 ul li a {
  color: #b5b5b5;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.footer .menu.menu2 ul li a:hover {
  color: #ff5a2c;
}
.footer .bottomTable {
  display: table;
  width: 100%;
  margin: 60px 0 0 0;
}
.footer .bottomTable .columnLeft {
  display: table-cell;
  vertical-align: bottom;
}
.footer .bottomTable .columnLeft a {
  color: #767676;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.footer .bottomTable .columnLeft a:hover {
  color: #ff5a2c;
}
.footer .bottomTable .columnRight {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
}
.footer .bottomTable .columnRight a {
  display: inline-block;
}
.footer .bottomTable .columnRight a img {
  width: 130px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 90px;
}
.header .headerTable {
  display: table;
  width: 100%;
}
.header .headerTable .columnLeft {
  display: table-cell;
  vertical-align: middle;
}
.header .headerTable .columnLeft ul li {
  margin-right: 40px;
}
.header .headerTable .columnRight {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.header .headerTable .columnRight .menu {
  border-left: solid 1px rgba(255, 255, 255, 0.2);
  padding-left: 20px;
}
.header .headerTable .columnRight ul li {
  margin-left: 40px;
}
.header .logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 100px;
}
.header .logo img {
  width: 270px;
}
.header .menu {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.header ul li a {
  color: #ffffff;
  font-size: 19px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-bottom: solid 1px rgba(255, 255, 255, 0);
  padding-bottom: 5px;
}
.header ul li a:hover {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  padding: 15px 0;
  text-align: center;
  z-index: 90;
  -webkit-backface-visibility: hidden;
}
.cookies .text {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  font-size: 14px;
}
.cookies .text a {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #767676;
}
.cookies .text a:hover {
  color: #ff5a2c;
}
.cookies .button {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  margin: 0 20px;
}
.hamburger {
  position: fixed;
  top: 90px;
  right: 90px;
  z-index: 102;
  -ms-transform: translate(0, -40px);
  -webkit-transform: translate(0, -40px);
  transform: translate(0, -40px);
  opacity: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.hamburger.active {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
.hamburger a {
  display: block;
  width: 50px;
  height: 50px;
  background: #ff5a2c;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.hamburger a svg {
  width: 40px;
  margin-top: 5px;
}
.hamburger a svg line {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.hamburger a:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
}
.hamburger a:hover svg line {
  stroke: #ff5a2c;
}
.closeMobile {
  position: fixed;
  top: 90px;
  right: 90px;
  z-index: 110;
  -ms-transform: translate(0, -40px);
  -webkit-transform: translate(0, -40px);
  transform: translate(0, -40px);
  opacity: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.closeMobile.active {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
.closeMobile a {
  display: block;
  width: 50px;
  height: 50px;
  background: #092ace;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.closeMobile a svg {
  width: 40px;
  margin-top: 5px;
}
.closeMobile a svg line {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.closeMobile a:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
}
.closeMobile a:hover svg line {
  stroke: #ff5a2c;
}
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
  display: table;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
}
.mobileMenu.active {
  opacity: 1;
  visibility: visible;
}
.mobileMenu .mobileMenuMiddle {
  display: table-cell;
  vertical-align: middle;
  background: #111b51;
  text-align: center;
}
.mobileMenu .mobileMenuMiddle ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobileMenu .mobileMenuMiddle ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -ms-transform: translate(0, 30px);
  -webkit-transform: translate(0, 30px);
  transform: translate(0, 30px);
}
.mobileMenu .mobileMenuMiddle ul li.active {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.mobileMenu .mobileMenuMiddle ul li a {
  font-size: 3vw;
  color: #ffffff;
  display: block;
  padding: 10px 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.mobileMenu .mobileMenuMiddle ul li a:hover {
  color: #ff5a2c;
}
@media screen and (max-width: 1720px) {
  .contact .scrollTop {
    display: none;
  }
  .contact .line {
    display: none;
  }
}
@media screen and (max-width: 1680px) {
  .hamburger {
    top: 40px;
    right: 40px;
  }
  .closeMobile {
    top: 40px;
    right: 40px;
  }
  .wrapperContainer {
    padding: 0 30px;
  }
  .wrapperPadding {
    padding: 0 60px;
  }
  .technologies .items {
    position: relative;
    margin: 0 25px;
  }
  .header {
    padding-top: 40px;
  }
  .header .logo {
    margin-right: 60px;
  }
  .header .logo img {
    width: 230px;
  }
  .header ul li a {
    font-size: 18px;
  }
  .top .line {
    height: 20%;
    left: 70px;
  }
  .top .scrollDown {
    left: 53px;
    bottom: 280px;
  }
  .top .arrows {
    bottom: 300px;
    right: 50px;
  }
  .top .topSlider .slick-dots {
    right: 50px;
  }
  .top .topSlider .slick-slide .button {
    padding: 60px 0 0 0;
  }
  .top .topSlider .slick-slide h1 {
    font-size: 40px;
    margin-top: 80px;
  }
  .top .topSlider .slick-slide h2 {
    font-size: 60px;
    padding: 5px 0;
  }
  .top .topSlider .slick-slide .desc {
    font-size: 20px;
  }
  .padding {
    padding: 80px 0;
  }
  .paddingTop {
    padding: 80px 0 0 0;
  }
  .toolbox .items {
    margin: 0 -5px;
  }
  .headline {
    padding: 0 0 40px 0;
  }
  .headline h3 {
    font-size: 32px;
  }
  .headline h2 {
    font-size: 42px;
  }
  .technologies .items {
    height: 260px;
  }
  .technologies .items .item {
    width: 33.33%;
    height: 115px;
  }
  .technologies .items .item .itemContainer {
    padding: 20px 30px;
  }
  .technologies .itemTable .columnLeft {
    width: 70px;
  }
  .technologies .itemTable .columnLeft img {
    width: 80%;
    max-width: 35px;
  }
  .technologies .itemTable .columnRight {
    font-size: 18px;
  }
  .advantages .title {
    font-size: 30px;
    padding-left: 60px;
  }
  .advantages .desc {
    font-size: 20px;
    min-height: 100px;
    padding-left: 60px;
  }
  .advantages .icon img {
    width: 30px;
  }
  .advantages .image img {
    max-width: 320px;
  }
  .advantages .advantagesSlider {
    padding-left: 30px;
    margin-bottom: 0 !important;
  }
  .advantages .advantagesSlider .advantagesSlide {
    padding: 80px 0 150px;
  }
  .advantages .advantagesSlider .slick-dots {
    bottom: 100px;
  }
  .advantages .true {
    width: 66%;
  }
  .advantages .false {
    width: 66%;
  }
  .advantages .arrows {
    bottom: 100px;
    right: 100px;
  }
  .toolbox {
    padding-top: 80px;
    margin-top: 0px;
  }
  .toolbox:before {
    display: none;
  }
  .toolbox:after {
    display: none;
  }
  .toolbox .items .item .itemContainer .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 1439px) {
  .wrapperPadding {
    padding: 0 40px;
  }
  .top {
    min-height: 600px;
    padding-bottom: 100px;
  }
  .top .line {
    height: 20%;
    left: 60px;
    top: 53%;
  }
  .top .scrollDown {
    left: 43px;
    bottom: 80px;
  }
  .top .arrows {
    bottom: 90px;
    right: 40px;
  }
  .top .topSlider .slick-dots {
    right: 40px;
  }
  .top .topSlider .slick-slide h1 {
    font-size: 32px;
    margin-top: 60px;
  }
  .top .topSlider .slick-slide h2 {
    font-size: 52px;
    padding: 5px 0;
  }
  .top .topSlider .slick-slide .desc {
    font-size: 18px;
  }
  .hamburger {
    top: 30px;
    right: 30px;
  }
  .closeMobile {
    top: 30px;
    right: 30px;
  }
  body,
  html {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  .padding {
    padding: 60px 0;
  }
  .paddingTop {
    padding: 60px 0 0 0;
  }
  .aboutUs {
    top: -100px;
    margin-bottom: -100px;
  }
  .aboutUs .itemFullTable .columnLeft .content {
    padding: 60px;
  }
  .aboutUs .itemFullTable .columnLeft .title {
    padding: 0 0 25px 0;
  }
  .aboutUs .itemFullTable .columnLeft .title h4 {
    font-size: 32px;
  }
  .aboutUs .itemFullTable .columnRight {
    width: 25%;
  }
  .aboutUs .items .item .itemContainer .content {
    padding: 50px;
  }
  .aboutUs .items .item .itemContainer .title {
    font-size: 20px;
  }
  .aboutUs .items .item .itemContainer .icon img {
    width: 55px;
  }
  .aboutUs .items .itemServices {
    font-size: 16px;
  }
  .aboutUs .items .itemServices .itemContainer .content {
    padding: 60px 50px;
  }
}
@media screen and (max-width: 1366px) {
  .testimonials .testimonialsTable .columnLeft {
    width: 25%;
  }
  .testimonials .quote {
    min-height: 160px;
  }
  .testimonials .image {
    margin-left: 0;
  }
  .testimonials .testimonialsSlider {
    padding-left: 60px;
  }
  .testimonials .arrows {
    padding-left: 105px;
  }
  .testimonials .image .frame {
    font-size: 28px;
    padding: 30px 30px 50px 30px;
    right: 30px;
  }
  .contact .people .person.person2 {
    margin: 50px 0 0 0;
  }
}
@media screen and (max-width: 1279px) {
  .aboutUs .items .item .itemContainer {
    min-height: 500px;
  }
  .advantages .title {
    font-size: 24px;
    padding-left: 40px;
    padding-bottom: 20px;
  }
  .advantages .desc {
    font-size: 18px;
    min-height: 80px;
    padding-left: 40px;
  }
  .advantages .icon img {
    width: 22px;
  }
  .advantages .image img {
    max-width: 280px;
  }
  .advantages .advantagesSlider {
    padding-left: 30px;
    margin-bottom: 0 !important;
  }
  .advantages .advantagesSlider .advantagesSlide {
    padding: 80px 0 120px;
  }
  .advantages .advantagesSlider .slick-dots {
    bottom: 70px;
  }
  .advantages .true {
    width: 66%;
  }
  .advantages .false {
    width: 66%;
    margin-top: 60px;
  }
  .advantages .arrows {
    bottom: 60px;
    right: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .cookies {
    padding: 20px 0;
  }
  .cookies .button {
    margin: 10px 0 0 0;
    display: block;
    text-align: center;
  }
  .cookies .text {
    display: block;
    text-align: center;
  }
  .button.backgroundButton a {
    padding: 13px 30px 12px 25px;
    font-size: 12px;
  }
  .button.backgroundButton a:hover {
    padding: 13px 20px 12px 25px;
  }
  .aboutUs .items .item .itemContainer {
    min-height: 540px;
  }
}
@media screen and (max-width: 1023px) {
  .hamburger {
    top: 20px;
    right: 20px;
  }
  .closeMobile {
    top: 20px;
    right: 20px;
  }
  .wrapperPadding {
    padding: 0 30px;
  }
  .header {
    padding-top: 25px;
  }
  .header .logo {
    margin-right: 45px;
  }
  .header .logo img {
    width: 200px;
  }
  .header ul li a {
    font-size: 17px;
  }
  .header .headerTable {
    display: table;
    width: 100%;
  }
  .header .headerTable .columnLeft ul li {
    margin-right: 28px;
  }
  .header .headerTable .columnRight .menu {
    padding-left: 8px;
  }
  .header .headerTable .columnRight ul li {
    margin-left: 28px;
  }
  .top {
    min-height: 480px;
  }
  .top .line {
    display: none;
  }
  .top .scrollDown {
    left: 33px;
    bottom: 70px;
  }
  .top .arrows {
    bottom: 70px;
    right: 30px;
  }
  .top .topSlider .slick-dots {
    right: 20px;
    margin-top: -80px;
  }
  .top .topSlider .slick-dots li {
    margin: 25px 0;
  }
  .top .topSlider .slick-slide h1 {
    font-size: 28px;
    margin-top: 60px;
  }
  .top .topSlider .slick-slide h2 {
    font-size: 48px;
    padding: 5px 0;
  }
  .top .topSlider .slick-slide .desc {
    font-size: 17px;
  }
  .top .topSlider .slick-slide .button {
    padding: 40px 0 0 0;
  }
  .padding {
    padding: 40px 0;
  }
  .paddingTop {
    padding: 40px 0 0 0;
  }
  .aboutUs .itemFullTable .columnLeft .content {
    padding: 40px;
  }
  .aboutUs .itemFullTable .columnLeft .title {
    padding: 0 0 15px 0;
  }
  .aboutUs .itemFullTable .columnLeft .title h4 {
    font-size: 24px;
  }
  .aboutUs .itemFullTable .columnLeft .title h4 br {
    display: none;
  }
  .aboutUs .items .item {
    width: 100%;
  }
  .aboutUs .items .item .itemContainer {
    min-height: 0;
  }
  .aboutUs .items .item .itemContainer .content {
    padding: 40px 40px 30px 40px;
  }
  .aboutUs .items .item .itemContainer .icon {
    padding: 0 0 15px 0;
  }
  .aboutUs .items .item .itemContainer .icon img {
    width: 40px;
  }
  .aboutUs .items .item .itemContainer .desc {
    min-height: 0;
  }
  .aboutUs .items .item .itemContainer .button a {
    display: inline-block;
    padding-right: 40px;
  }
  .aboutUs .items .itemServices {
    width: 100%;
  }
  .aboutUs .items .itemServices .itemContainer .content {
    padding: 40px 40px 30px 40px;
  }
  .aboutUs .items .itemServices .itemContainer .content .button {
    position: absolute;
    top: 30px;
    width: 100%;
    right: 40px;
  }
  .aboutUs .items .itemServices .itemContainer .content .title {
    font-size: 20px;
    padding: 0 0 20px 0;
  }
  .toolbox .items .item {
    width: 25%;
  }
  .toolbox .items .item .itemContainer {
    padding: 30px;
    min-height: 220px;
  }
  .toolbox .items .item .itemContainer .icon {
    position: relative;
    z-index: 0;
  }
  .toolbox .items .item .itemContainer .icon img {
    width: 40px;
  }
  .toolbox .items .item .itemContainer .title {
    font-size: 18px;
  }
  .toolbox .items .item .itemContainer .hoverBox {
    padding: 30px;
    top: 0;
    z-index: 20;
    bottom: -30px;
  }
  .toolbox .items .item:nth-child(4n) .itemContainer {
    border-right: none;
  }
  .toolbox .items .item:nth-child(5n) .itemContainer {
    border-right: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(6n) .itemContainer {
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(6n) .itemContainer {
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(7n) .itemContainer {
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(8n) .itemContainer {
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(9n) .itemContainer {
    border-bottom: none;
  }
  .contact {
    padding-bottom: 40px;
  }
  .contact .contactTable {
    padding-top: 40px;
    display: block;
    width: auto;
  }
  .contact .contactTable .columnLeft {
    display: block;
    width: auto;
  }
  .contact .contactTable .columnRight {
    display: block;
    width: auto;
  }
  .contact .contactTable .columnRight:before {
    display: none;
  }
  .contact .columnContainer {
    padding: 0;
    position: relative;
  }
  .contact:before {
    display: none;
  }
  .contact .people {
    position: relative;
    top: auto;
  }
  .contact .people .person.person2 {
    margin: 0;
  }
  .footer .bottomTable {
    margin: 30px 0 0 0;
  }
}
@media screen and (max-width: 899px) {
  .technologies .items {
    height: 390px;
    margin-top: -20px;
  }
  .technologies .items .item {
    width: 50%;
  }
  .hamburger {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }
  .hamburger a {
    width: 40px;
    height: 40px;
  }
  .hamburger a svg {
    width: 30px;
    margin-top: 5px;
  }
  .closeMobile a {
    width: 40px;
    height: 40px;
  }
  .closeMobile a svg {
    width: 30px;
    margin-top: 5px;
  }
  .header .menu {
    display: none;
  }
  .testimonials .testimonialsTable .columnLeft {
    width: 240px;
  }
}
@media screen and (max-width: 799px) {
  .top .background .shape1 {
    background-image: url(../images/top/1.png);
    background-position: 50% center;
  }
  .top .arrows {
    display: none;
  }
  .top .scrollDown {
    display: none;
  }
  .top .topSlider .slick-slide h1 {
    font-size: 24px;
    margin-top: 0px;
  }
  .top .topSlider .slick-slide h2 {
    font-size: 32px;
    padding: 5px 0;
  }
  .top .topSlider .slick-slide .desc {
    font-size: 15px;
  }
  .top .topSlider .slick-slide .button {
    padding: 40px 0 0 0;
  }
  .top .topSlider .slick-dots {
    top: auto;
    bottom: 40px;
    right: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-top: 0;
  }
  .top .topSlider .slick-dots li {
    display: inline-block;
    margin: 0 10px;
    width: 7px;
    height: 7px;
  }
  .mobileMenu .mobileMenuMiddle ul li a {
    font-size: 24px;
    padding: 10px 0;
  }
  .headline {
    padding: 0 0 40px 0;
  }
  .headline h3 {
    font-size: 28px;
  }
  .headline h2 {
    font-size: 32px;
  }
  .aboutUs .itemFullTable .columnRight {
    width: 160px;
  }
  .toolbox .items .item {
    width: 33.33%;
  }
  .toolbox .items .item .itemContainer {
    padding: 30px;
    min-height: 220px;
  }
  .toolbox .items .item .itemContainer .icon {
    position: relative;
    z-index: 0;
  }
  .toolbox .items .item .itemContainer .icon img {
    width: 40px;
  }
  .toolbox .items .item .itemContainer .title {
    font-size: 18px;
  }
  .toolbox .items .item .itemContainer .hoverBox {
    padding: 30px;
    top: 0;
    z-index: 20;
    bottom: -30px;
  }
  .toolbox .items .item:nth-child(3n) .itemContainer {
    border-right: none;
  }
  .toolbox .items .item:nth-child(4n) .itemContainer {
    border-right: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(5n) .itemContainer {
    border-right: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(6n) .itemContainer {
    border-bottom: none;
  }
  .toolbox .items .item:nth-child(6n) .itemContainer {
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(7n) .itemContainer {
    border-bottom: none;
  }
  .toolbox .items .item:nth-child(8n) .itemContainer {
    border-bottom: none;
  }
  .toolbox .items .item:nth-child(9n) .itemContainer {
    border-bottom: none;
  }
  .button.arrowWhiteOpacity a {
    display: inline-block;
    width: auto;
    padding-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .advantages .title {
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
  }
  .advantages .desc {
    font-size: 17px;
    min-height: 80px;
    padding-left: 40px;
  }
  .advantages .true {
    width: 75%;
  }
  .advantages .false {
    width: 75%;
  }
  .advantages .image img {
    width: 180px;
  }
  .contact .contactTable {
    padding: 0;
  }
  .footer {
    padding: 60px 0;
  }
  .footer .bottomTable {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
  }
  .footer .bottomTable .columnLeft {
    display: block;
    width: auto;
    text-align: center;
  }
  .footer .bottomTable .columnRight {
    display: block;
    width: auto;
    text-align: center;
    padding: 20px 0 0 0;
  }
  .footer .menu1 {
    display: none;
  }
  .footer .menu2 {
    display: none;
  }
  .testimonials:before {
    display: none;
  }
  .testimonials .testimonialsTable {
    display: block;
    width: auto;
  }
  .testimonials .testimonialsTable .columnLeft {
    display: block;
    width: auto;
  }
  .testimonials .testimonialsTable .columnLeft .image {
    height: auto;
    padding: 30px;
  }
  .testimonials .testimonialsTable .columnLeft .image .frame {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: 0;
    max-width: 220px;
    padding: 30px;
    font-size: 24px;
  }
  .testimonials .testimonialsTable .columnRight {
    display: block;
    width: auto;
  }
  .testimonials .testimonialsSlider {
    padding-left: 30px;
  }
  .testimonials .headline {
    padding: 0 0 20px 0;
  }
  .testimonials .quote {
    min-height: auto;
  }
  .testimonials .arrows {
    padding: 15px 0 20px 75px;
  }
}
@media screen and (max-width: 572px) {
  .headline {
    padding: 0 0 40px 0;
  }
  .headline h3 {
    font-size: 22px;
  }
  .headline h2 {
    font-size: 28px;
  }
  .technologies .items {
    height: 680px;
    margin-top: -20px;
  }
  .technologies .items .item {
    width: 100%;
  }
  .advantages .title {
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
  }
  .advantages .desc {
    font-size: 15px;
    min-height: 0;
    padding-left: 40px;
    padding-bottom: 50px;
  }
  .advantages .true {
    width: 100%;
  }
  .advantages .false {
    width: 100%;
  }
  .advantages .image {
    display: none;
  }
  .advantages .arrows {
    display: none;
  }
  .slick-dots {
    text-align: center !important;
    left: 0 !important;
    right: 0 !important;
  }
  .slick-dots li {
    margin: 0 8px !important;
  }
  .toolbox .items .item {
    width: 50%;
  }
  .toolbox .items .item .itemContainer {
    padding: 25px;
    min-height: 220px;
  }
  .toolbox .items .item .itemContainer .icon {
    position: relative;
    z-index: 0;
  }
  .toolbox .items .item .itemContainer .icon img {
    width: 40px;
  }
  .toolbox .items .item .itemContainer .title {
    font-size: 16px;
  }
  .toolbox .items .item .itemContainer .hoverBox {
    padding: 25px;
    top: 0;
    z-index: 20;
    bottom: -30px;
  }
  .toolbox .items .item:nth-child(2n) .itemContainer {
    border-right: none;
  }
  .toolbox .items .item:nth-child(3n) .itemContainer {
    border-right: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(4n) .itemContainer {
    border-right: none;
  }
  .toolbox .items .item:nth-child(5n) .itemContainer {
    border-right: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(6n) .itemContainer {
    border-right: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(7n) .itemContainer {
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(8n) .itemContainer {
    border-right: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  }
  .toolbox .items .item:nth-child(9n) .itemContainer {
    border-bottom: none;
  }
  .contact .people .person {
    float: none;
    width: auto;
  }
}
@media screen and (max-width: 459px) {
  .toolbox .headlineTable {
    display: block;
    width: auto;
  }
  .toolbox .headlineTable .columnLeft {
    display: block;
    width: auto;
  }
  .toolbox .headlineTable .columnRight {
    display: block;
    width: auto;
    text-align: left;
    padding: 40px 0 0 0;
  }
  .aboutUs .itemFullTable .columnRight {
    display: none;
  }
}

